.venue-item {
  max-width: 500px;
  margin: 0;
  padding: 0;
}

.venue-content {
  width: 100%;
  height: 150px;
  text-align: left;
  color: var(--grey);
}

.venue-name {
  font-weight: bold;
  color: var(--black);
}

.venue-info {
  font-weight: bold;
}

.venue-price {
  display: flex;
}
