.venue-container {
  float: right;
  border-left: 2px solid var(--grey90);
  padding: 20px;
}

.top-box{
  padding: 0;
  text-align: left;
}

.venues-wrap {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.map-responsive-btn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media(min-width: 1400px) {
  .map-responsive-btn {
    display: none;
  }
}
