.main-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(1fr));
}

.side-bar {
  grid-column: 1/2;
  margin: 0;
  padding: 30px;
}

.venue-container {
  grid-column: 2/5;
}

.hour-rate, .day-rate {
  flex: 1;
  left: 60%;
  width: 40%;
  position: relative;
  background-color: var(--black);
  opacity: 0.9;
  color: var(--primary);
  text-align: right;
}

.day-rate {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  left: 60%;
  width: 40%;
  margin-top: 5px;
}
