.main-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(1fr));
}

.side-bar {
  grid-column: 1/2;
  margin: 0;
  padding: 30px;
}

.venue-container {
  grid-column: 2/5;
}

@media(max-width: 1400px) {
  .main-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(1fr));
  }

  .side-bar {
    display: none;
  }

  .venue-container {
    width: 100%;
    grid-column: 1/4;
    padding: 20px;
  }
}
