:root {
  --primary: #ffffff;
  --purple: #393A73;
  --violet: #AAAAD3;
  --grey: #666;
  --black: #222;
  --grey90: rgba(222, 222, 222, 0.9);
  --shadow: 0 1px 5px rgba(222, 222, 222, 0.9);
  --hover: #AAAAD3;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: 'Open San', sans-serif;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

.btn:hover {
  color: var(--hover);
}
